@media (max-width: 1550px) {

    .page {
        .article-wrapper {
            width: 350px;
            text-align: justify;

        }

        .project-title {
            width: 175px;
            margin-top: 30px;
            padding: 0 5px;
        }

        .copypageimg {
            transform: scale(0.75);
            width: 405px;
            height: 290px;
            top: 35%;
        }

        .smartphonegirl {
            top: 15%;
            transform: scale(0.75);
        }

        .title-wrapper {
            width: 350px;
            text-align: justify;

            p {
                font-size: 16px;
            }

            h2 {
                font-size: 20px;
            }
        }



    }

    .text-wrapper {
        width: 400px;
        text-align: justify;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }

        .button,
        .button-white {
            width: 175px;
        }
    }

    .main-img {
        width: 500px;
    }
}

@media (max-width: 1080px) {

    .page {
        .article-wrapper {
            left: 0;
            top: 0;
            position: relative;
            margin: 200px auto;


        }

        .copypageimg {
            top: 0;
            left: 50%;
            transform: translateX(-50%) scale(0.75);
            margin-top: 300px;
        }

        .smartphonegirl {
            top: 0;
            left: 50%;
            transform: translateX(-50%) scale(0.75);
            margin-top: 300px;
        }

        .title-wrapper {
            left: 0;
            top: 0;
            position: relative;
            margin: 300px auto;
        }



    }

    .text-wrapper {
        margin: 200px auto;
    }

    .main-img {
        display: none;
    }

    .main-blob {
        width: 900px;
        display: none;
    }

    .page-first {
        nav {
            .nav-items {
                ul {
                    li {
                        padding: 0 50px 0 0;
                    }
                }
            }
        }
    }

    .page-last {
        .second-blob {
            width: 900px;
            height: 700px;
            display: none;
        }
    }
}

@media (max-width: 770px) {
    .page-first {
        nav {
            .nav-items {
                max-width: 90%;

                ul {
                    li {
                        padding: 0 0 0 0;

                        a {
                            padding: 0 20px 0 0;
                        }
                    }
                }
            }
        }
    }

    .page-last {
        .title-wrapper {
            width: 350px;
            top: 40%;
        }

        .footer-wrapper {
            .footer-items-up {
                max-width: 90%;
            }

            .footer-items-down {
                max-width: 90%;

                ul {
                    li {
                        a {
                            margin: 0 20px 0 0;
                        }
                    }
                }

            }

        }

    }
}

@media (max-width: 550px) {


    .text-wrapper {
        width: 350px;
        text-align: justify;

        .button,
        .button-white {
            width: 125px;
            font-size: 12px;
        }
    }


    .page-first {
        nav {
            .nav-items {
                max-width: 95%;

                ul {
                    li {

                        a {
                            padding: 0 5px 0 0;
                        }
                    }
                }
            }
        }
    }

    .page-last {
        .footer-wrapper {
            .footer-items-up {
                max-width: 95%;
            }

            .footer-items-down {
                max-width: 95%;

                ul {
                    li {
                        a {
                            margin: 0 10px 0 0;
                        }
                    }
                }

            }

        }

    }

}