.page .title-wrapper {
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.page img {
  position: absolute;
  top: 30%;
  right: 10%;
}

.page .title-wrapper {
  width: 540px;
  height: 425px;
  position: absolute;
}

.page-first .button, .text-wrapper .button, .page-last .title-wrapper .button, .page-last .footer-wrapper .footer-items-up .button {
  background-color: #111B47;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

.page-first .button:hover, .text-wrapper .button:hover, .page-last .title-wrapper .button:hover, .page-last .footer-wrapper .footer-items-up .button:hover {
  background-color: #070b1e;
}

.page-first .button:active, .text-wrapper .button:active, .page-last .title-wrapper .button:active, .page-last .footer-wrapper .footer-items-up .button:active {
  background-color: #070b1e;
}

.page .title-wrapper h2, .page .article-wrapper .project-wrapper h2, .page-last .title-wrapper h2 {
  font-size: 36px;
  color: #091133;
  margin-bottom: 20px;
}

.page .title-wrapper p, .page .article-wrapper .project-wrapper p, .page-last .title-wrapper p {
  font-size: 16px;
  color: #6F7CB2;
}

.page .project-title img {
  margin-bottom: 15px;
}

.page .project-title h3 {
  font-size: 16px;
  color: #091133;
}

.page .project-title p {
  font-size: 12px;
  color: #5D6970;
}

.page-first .web-title, .page-last .footer-wrapper .footer-items-up .web-title {
  color: #37447E;
  font-weight: 900;
  font-size: 26px;
}

.page, .page-last {
  height: 100vh;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F0F0F0;
}

.page-first {
  height: 100vh;
  width: 100%;
  position: relative;
}

.page-first nav {
  height: 80px;
}

.page-first nav .nav-items {
  height: inherit;
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-first nav .nav-items ul {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
}

.page-first nav .nav-items ul li {
  display: inline-block;
  padding: 0 100px 0 0;
}

.page-first nav .nav-items ul li a {
  text-decoration: none;
  color: #505F98;
  font-weight: normal;
  font-size: 14px;
}

.page-first .web-title {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.page-first .button {
  width: 160px;
  height: 26px;
}

.text-wrapper {
  width: 540px;
  height: 425px;
  margin: 200px 0 0 10%;
  text-align: justify;
}

.text-wrapper h1 {
  color: #091133;
  font-weight: 500;
  font-size: 50px;
}

.text-wrapper p {
  font-weight: 400;
  font-size: 18px;
  color: #505F98;
  margin-top: 20px;
}

.text-wrapper .button {
  margin: 50px 50px 0 0;
  width: 190px;
  height: 36px;
  font-size: 16px;
}

.text-wrapper .button-white {
  background-color: transparent;
  color: #091133;
  font-size: 16px;
  width: 190px;
  height: 36px;
  border: 2px solid #091133;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

.text-wrapper .button-white:hover {
  background-color: #505F98;
  color: white;
}

.text-wrapper .button-white:active {
  background-color: #505F98;
  color: white;
}

.main-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main-blob {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.page .smartphonegirl {
  top: 10%;
}

.page .article-wrapper {
  width: 540px;
  height: 422px;
  position: absolute;
  top: 30%;
  left: 10%;
}

.page .project-title {
  float: left;
  width: 255px;
  height: 140px;
  margin-top: 80px;
}

.page .project-title::after {
  content: '';
  clear: both;
}

.page .project-title img {
  position: relative;
  left: 0;
}

.page .second-img {
  position: absolute;
  top: 10%;
  right: 10%;
}

.page-last {
  height: 110vh;
}

.page-last .second-blob {
  width: 1000px;
  height: 800px;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  overflow: hidden;
}

.page-last .title-wrapper {
  width: 600px;
  height: 395px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-49%, -60%);
          transform: translate(-49%, -60%);
  text-align: center;
}

.page-last .title-wrapper h2 {
  margin-bottom: 10px;
}

.page-last .title-wrapper .price {
  margin: 35px 0 0 0;
  color: #222F65;
  font-size: 50px;
}

.page-last .title-wrapper .price-description {
  margin-bottom: 35px;
  font-size: 16px;
  color: #37447E;
}

.page-last .title-wrapper .button-quote {
  font-size: 14px;
  color: #5D6970;
  margin-bottom: 5px;
}

.page-last .title-wrapper .button {
  width: 190px;
  height: 32px;
}

.page-last .footer-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: #E7ECFF;
}

.page-last .footer-wrapper .footer-items-up {
  height: 20vh;
  max-width: 80%;
  border-bottom: 1px solid #CDD1D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.page-last .footer-wrapper .footer-items-up p {
  color: #939EA4;
  font-weight: normal;
  font-size: 14px;
}

.page-last .footer-wrapper .footer-items-up .button {
  height: 26px;
  width: 110px;
}

.page-last .footer-wrapper .footer-items-down {
  height: 10vh;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.page-last .footer-wrapper .footer-items-down ul {
  list-style-type: none;
}

.page-last .footer-wrapper .footer-items-down ul li {
  display: inline-block;
}

.page-last .footer-wrapper .footer-items-down ul li a {
  text-decoration: none;
  color: #929ECC;
  margin: 0 100px 0 0;
  font-size: 14px;
}

.page-last .footer-wrapper .footer-items-down i {
  margin: 0 10px;
  color: #929ECC;
  cursor: pointer;
}

.page-last .footer-wrapper .footer-items-down i:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 1550px) {
  .page .article-wrapper {
    width: 350px;
    text-align: justify;
  }
  .page .project-title {
    width: 175px;
    margin-top: 30px;
    padding: 0 5px;
  }
  .page .copypageimg {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    width: 405px;
    height: 290px;
    top: 35%;
  }
  .page .smartphonegirl {
    top: 15%;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .page .title-wrapper {
    width: 350px;
    text-align: justify;
  }
  .page .title-wrapper p {
    font-size: 16px;
  }
  .page .title-wrapper h2 {
    font-size: 20px;
  }
  .text-wrapper {
    width: 400px;
    text-align: justify;
  }
  .text-wrapper h1 {
    font-size: 30px;
  }
  .text-wrapper p {
    font-size: 16px;
  }
  .text-wrapper .button,
  .text-wrapper .button-white {
    width: 175px;
  }
  .main-img {
    width: 500px;
  }
}

@media (max-width: 1080px) {
  .page .article-wrapper {
    left: 0;
    top: 0;
    position: relative;
    margin: 200px auto;
  }
  .page .copypageimg {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0.75);
            transform: translateX(-50%) scale(0.75);
    margin-top: 300px;
  }
  .page .smartphonegirl {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0.75);
            transform: translateX(-50%) scale(0.75);
    margin-top: 300px;
  }
  .page .title-wrapper {
    left: 0;
    top: 0;
    position: relative;
    margin: 300px auto;
  }
  .text-wrapper {
    margin: 200px auto;
  }
  .main-img {
    display: none;
  }
  .main-blob {
    width: 900px;
    display: none;
  }
  .page-first nav .nav-items ul li {
    padding: 0 50px 0 0;
  }
  .page-last .second-blob {
    width: 900px;
    height: 700px;
    display: none;
  }
}

@media (max-width: 770px) {
  .page-first nav .nav-items {
    max-width: 90%;
  }
  .page-first nav .nav-items ul li {
    padding: 0 0 0 0;
  }
  .page-first nav .nav-items ul li a {
    padding: 0 20px 0 0;
  }
  .page-last .title-wrapper {
    width: 350px;
    top: 40%;
  }
  .page-last .footer-wrapper .footer-items-up {
    max-width: 90%;
  }
  .page-last .footer-wrapper .footer-items-down {
    max-width: 90%;
  }
  .page-last .footer-wrapper .footer-items-down ul li a {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 550px) {
  .text-wrapper {
    width: 350px;
    text-align: justify;
  }
  .text-wrapper .button,
  .text-wrapper .button-white {
    width: 125px;
    font-size: 12px;
  }
  .page-first nav .nav-items {
    max-width: 95%;
  }
  .page-first nav .nav-items ul li a {
    padding: 0 5px 0 0;
  }
  .page-last .footer-wrapper .footer-items-up {
    max-width: 95%;
  }
  .page-last .footer-wrapper .footer-items-down {
    max-width: 95%;
  }
  .page-last .footer-wrapper .footer-items-down ul li a {
    margin: 0 10px 0 0;
  }
}
/*# sourceMappingURL=styles.css.map */