$firstPageColor: #505F98;
$textColor: #6F7CB2;
$headingColor: #091133;
$buttonBgc: #111B47;

@mixin buttondark() {
    background-color: $buttonBgc;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: .1s;

    &:hover {
        background-color: darken($buttonBgc, 10%);
    }

    &:active {
        background-color: darken($buttonBgc, 10%);
    }
}

@mixin text() {
    h2 {
        font-size: 36px;
        color: $headingColor;
    }

    p {
        font-size: 16px;
        color: $textColor;
    }
}

@mixin titleText() {
    img {
        margin-bottom: 15px;
    }

    h3 {
        font-size: 16px;
        color: #091133;
    }

    p {
        font-size: 12px;
        color: #5D6970;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}

.stpage-wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    height: 80px;

    .nav-items {
        height: inherit;
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;


        ul {
            flex-grow: 1;
            list-style-type: none;

            li {
                display: inline-block;
                padding: 0 100px 0 0;

                a {
                    text-decoration: none;
                    color: $firstPageColor;
                    font-weight: normal;
                    font-size: 14px;
                }
            }
        }
    }

    .web-title {
        flex-grow: 2;
        color: #37447E;
        font-weight: 900;
        font-size: 26px;
    }

    .buynow {
        @include buttondark();
        width: 160px;
        height: 26px;
    }
}


.sttext-wrapper {
    h1 {
        color: $headingColor;
        font-weight: 500;
        font-size: 50px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        color: $firstPageColor;
        margin-top: 20px;
    }

    width: 540px;
    height: 425px;
    margin: 200px 0 0 200px;

    .button {
        @include buttondark();
        margin: 50px 50px 0 0;
        width: 190px;
        height: 36px;
        font-size: 16px;
    }

    .button-white {
        background-color: transparent;
        color: $headingColor;
        font-size: 16px;
        width: 190px;
        height: 36px;
        border: 2px solid $headingColor;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: .1s;

        &:hover {
            background-color: $firstPageColor;
            color: white;
        }

        &:active {
            background-color: $firstPageColor;
            color: white;
        }
    }
}

.main-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-blob {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}

// First page

.second-page-main-wrapper {
    height: 100vh;
    position: relative;

    .second-article-wrapper {
        width: 540px;
        height: 425px;
        position: absolute;
        top: 300px;
        left: 300px;
    }

    .ndtitle-wrapper {
        @include text();
    }

    .project-title-st {
        @include titleText();
        float: left;
        width: 255px;
        height: 140px;
        margin-top: 80px;
    }

    .project-title-nd {
        @include titleText();
        float: left;
        width: 255px;
        height: 140px;
        margin-top: 80px;

        &::after {
            clear: both;
        }
    }

    .second-img {
        position: absolute;
        bottom: 200px;
        right: 200px;
    }

    .second-blob {
        position: absolute;
        transform: rotate(180deg);
        z-index: -1;
        overflow: hidden;
    }
}