@import "_variables";
@import "_mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}

.page-first {
    height: 100vh;
    width: 100%;
    position: relative;

    nav {
        height: 80px;

        .nav-items {
            height: inherit;
            max-width: 80%;
            margin: 0 auto;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;

            ul {
                flex-grow: 1;
                list-style-type: none;

                li {
                    display: inline-block;
                    padding: 0 100px 0 0;

                    a {
                        text-decoration: none;
                        color: $firstPageColor;
                        font-weight: normal;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .web-title {
        @extend %webTitle;
        flex-grow: 2;   
    }

    .button {
        @extend %buttondark;
        width: 160px;
        height: 26px;
    }
}


.text-wrapper {
    width: 540px;
    height: 425px;
    margin: 200px 0 0 10%;

    h1 {
        color: $headingColor;
        font-weight: 500;
        font-size: 50px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        color: $firstPageColor;
        margin-top: 20px;
    }

    .button {
        @extend %buttondark;
        margin: 50px 50px 0 0;
        width: 190px;
        height: 36px;
        font-size: 16px;
    }

    .button-white {
        background-color: transparent;
        color: $headingColor;
        font-size: 16px;
        width: 190px;
        height: 36px;
        border: 2px solid $headingColor;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: .1s;

        &:hover {
            background-color: $firstPageColor;
            color: white;
        }

        &:active {
            background-color: $firstPageColor;
            color: white;
        }
    }
}

.main-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-blob {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}



.page {
    @extend %page;

    .article-wrapper {
        width: 540px;
        height: 422px;
        position: absolute;
        top: 30%;
        left: 10%;
        .project-wrapper {
            @extend %text;
        }
    }
    .project-title {
        @extend %titleText;
        float: left;
        width: 255px;
        height: 140px;
        margin-top: 80px;
        &::after{
            content: '';
            clear: both;
        }
        img{
            position: relative;
            left: 0;
        }
    }

    .second-img {
        position: absolute;
        top: 10%;
        right: 10%;
    }
}



.page {
    @extend %page;
    @extend %pageCopy;

}

.page {
    @extend %page;
    @extend %pageCopy;
}

.page {
    @extend %page;
    @extend %pageCopy;
}

.page-last {
    @extend %page;
    height: 110vh;
    .second-blob {
        width: 1000px;
        height: 800px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        
        z-index: -1;
    }
    .title-wrapper {
        @extend %text;
        width: 600px;
        height: 395px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-49%, -60%);
        text-align: center;

        h2 {
            margin-bottom: 10px;
        }

        .price {
            margin: 35px 0 0 0;
            color: #222F65;
            font-size: 50px;
        }

        .price-description {
            margin-bottom: 35px;
            font-size: 16px;
            color: #37447E;
        }

        .button-quote {
            font-size: 14px;
            color: #5D6970;
            margin-bottom: 5px;
        }

        .button {
            @extend %buttondark;
            width: 190px;
            height: 32px;
        }
    }

    .footer-wrapper {
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        background-color: #E7ECFF;

        .fotter-items-up {
            height: 20vh;
            max-width: 80%;
            border-bottom: 1px solid #CDD1D4;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            .web-title {
                @extend %webTitle;
            }

            p {
                color: #939EA4;
                font-weight: normal;
                font-size: 14px;
            }

            .button {
                @extend %buttondark;
                height: 26px;
                width: 110px;
            }
        }

        .fotter-items-down {
            height: 10vh;
            max-width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            ul {
                list-style-type: none;

                li {
                    display: inline-block;

                    a {
                        text-decoration: none;
                        color: #929ECC;
                        margin: 0 100px 0 0;
                        font-size: 14px;

                    }
                }
            }

            i {
                margin: 0 10px;
                color: #929ECC;
                cursor: pointer;

                &:hover {
                    transform: translateY(-2px);
                }

            }
        }
    }
}